.subtitulo{
    color: white;
    margin-top: 60px;
    text-decoration: none;
    margin-left: 10px;
}
.articleHome{
    background-color: rgba(245, 245, 220, 0.226);
    padding: 20px;
    border: solid 2px lightblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    width: 270px;
}
.sectionpopulares{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.sectionencartelera{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.imagenes{
    height: 227px;
    width: 227px;
}
.linkvermas{
    color: white;
    border: solid 1px white;
    text-align: center;
    background-color: rgba(245, 245, 220, 0.226);
}
.estilobotones{
    margin-top: 5px;
    color: white;
    border: solid 1px white;
    text-align: center;
    padding: 3px;
    background-color: rgba(245, 245, 220, 0.226);
    font-family: "Darker Grotesque", sans-serif;
    font-weight: bold;
    font-size: medium;
}